.Header {
  position: relative;
  background-image: url('/assets/banner.jpg');
  background-size: contain;
}

.overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}
