.Brief .upperRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.Brief .upperRow > * {
  margin: 0;
}

.Brief .upperRow h2 {
  color: #F65260;
  margin-right: 20px;
}

.filmRating {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
}

.genres {
  color: #eeeeee;
  margin-top: 5px;
  margin-bottom: 15px;
}

.lowerRow {
  color: #ffffff;
  font-weight: bold;
}

.lowerRow span:first-child {
  margin-right: 20px;
}
